a {
  cursor: pointer;
}

h2 {
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .navbar-language {
    display: flex;

    .big {
      font-size: 11px;
    }

    .navbar-language__dropdown {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      &:before,
      :after {
        content: "";
        position: absolute;
        pointer-events: none;
      }

      &:after {
        height: 1em;
        font-size: 0.625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -0.5em;
      }

      &:before {
        width: 19px;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
      }

      select {
        cursor: pointer;
        background-color: #43548e;
        color: #fff;
        font-size: inherit;
        padding: 5px 8px 5px 7px;
        border: 0;
        margin: 0;
        border-radius: 3px;
        text-indent: 0.01px;
        &:focus {
          outline: none;
        }
      }
      select[disabled] {
        color: rgba(0, 0, 0, 0.3);
        &:after {
          color: rgba(0, 0, 0, 0.1);
        }
      }

      &:before {
        background-color: rgba(0, 0, 0, 0.15);
      }

      &:after {
        color: rgba(0, 0, 0, 0.4);
      }

      select:-ms-expand {
        display: none;
      }
    }
  }
  .navbar-language__lang {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  ul {
    justify-content: center;
    align-items: center;
    li {
      margin-left: 15px;
    }
  }
}

@media all and (max-width: 500px) {
  h2 {
    margin-right: 25px;
    font-size: 14px;
  }
  .navbar_header {
    display: none;
  }

  .link-list {
    justify-content: center;
    ul {
      font-size: 12px;
      li {
        margin: 0 5px;
      }
    }
    .navbar-language {
      .navbar-language__dropdown {
        &::before {
          width: 19px;
        }
      }
    }
  }
}
